" Set leader key to Space
let mapleader = " "

" Enable incremental search
set incsearch

" Highlight search results
set hlsearch

" Use system clipboard for copy-paste
set clipboard+=unnamedplus

" Enable EasyMotion (requires IdeaVim-EasyMotion plugin)
let g:EasyMotion_do_mapping = 1

" Use Ctrl keys
set <C-f>

" Cursor styles
set guicursor=n:block,i:ver25,v:block
set number
set relativenumber

" Keybindings

" Center search results
nmap n nzz
nmap N Nzz

" Delete entire line with D
nmap D dd

" Insert mode: jk to escape
imap jk <Esc>

" Visual mode keybindings
vmap <leader>/ :action CommentByLineComment<CR>
" Copy utils
vmap <leader>y "*y
vmap <leader>p "*p
vmap <leader>d "_dh

" Normal mode keybindings
nmap <leader>ca :action ShowIntentionActions<CR>
nmap <leader>e :action ActivateProjectToolWindow<CR>

nmap <leader>/ :action CommentByLineComment<CR>

" Go to
nmap gI :action GotoImplementation<CR>
nmap <leader><leader> :action RecentLocations<CR>
nmap gt :action GotoTest<CR>
" Search
nmap <leader>sf :action GotoFile<CR>
nmap <leader>ss :action GotoSymbol<CR>
nmap <leader>sa :action GotoAction<CR>
nmap <leader>s. :action RecentFiles<CR>
nmap <leader>sd :action ActivateProblemsViewToolWindow<CR>

nmap <leader>F :action ReformatCode<CR>
nmap <leader>rn :action RenameElement<CR>
nmap <leader>x :bd<CR>
nmap <leader>oi :action OptimizeImports<CR>
" Git
nnoremap <leader>hp :action VcsShowCurrentChangeMarker<CR>
nnoremap <leader>hn :action VcsShowNextChangeMarker<CR>
nnoremap <leader>hN :action VcsShowPrevChangeMarker<CR>
nnoremap <leader>hr :action Vcs.RollbackChangedLines<CR>
nnoremap <leader>hR :action ChangesView.Revert<CR>
" Runnable
nnoremap <leader>rp :action Run<CR>
nnoremap <leader>rr :action Rerun<CR>
nnoremap <leader>rc :action RunClass<CR>
nnoremap <leader>rm :action RunContextGroup<CR>
nnoremap <leader>rf :action RunCurrentFile<CR>
nnoremap <leader>rs :action Stop<CR>
nnoremap <leader>rC :action RunContextConfiguration<CR>
" Generate
nnoremap <leader>gg :action Generate<CR>
nnoremap <leader>gr :action Refactorings.QuickListPopupAction<CR>
vnoremap <leader>gr :action Refactorings.QuickListPopupAction<CR>
" Diagnostic
nnoremap <leader>de :action ShowErrorDescription<CR>
nnoremap <leader>dn :action GotoNextError<CR>
nnoremap <leader>dp :action GoToPreviousError<CR>
nnoremap <leader>ip :action InspectCode<CR>

nmap <leader>rv :action IdeaVim.ReloadVimRc.reload<CR>

" Scroll behavior
nmap <C-u> 10kzz
nmap <C-d> 10jzz
" navigation
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l
nmap <C-h> <C-w>h

" Change quotes
nmap <leader>" cs'\" 
nmap <leader>' cs"'

" Show definition preview
nmap K :action QuickJavaDoc<CR>

" Tab navigation
nmap <Tab> :tabnext<CR>
nmap <S-Tab> :tabprev<CR>

nmap <leader>T :action ActivateTerminalToolWindow<CR>

" Plugins:
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
set which-key
set NERDTree
set surround " ys* = add, cs* = change, ds* = delete
set timeoutlen=10000

" Keybindings Plugins
let g:NERDTreeMapPreview="<Tab>"
let g:NERDTreeMapActivateNode = 'l'
let g:NERDTreeMapJumpParent = 'h'
let g:NERDTreeMapPreviewVSplit = 'v'
let g:NERDTreeMapPreviewSplit = 's'